Package: pam-propperpwnam
Version: 0.1
Architecture: amd64
Maintainer: Wolfgang.Draxinger <Wolfgang.Draxinger@physik.uni-muenchen.de>
Installed-Size: 52
Depends: libpam0g
Section: libs
Priority: extra
Homepage: https://github.com/datenwolf/pam_propperpwnam
Description: Prop username per pwnam API
 Props the entered login credentials with user information retrieved per pwnam API (getpwnam)
